In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('/content/hiring.csv')
df.head()

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000

In [6]:
df.shape

(8, 4)

In [7]:
df.describe()

       test_score(out of 10)  interview_score(out of 10)    salary($)
count               7.000000                    8.000000      8.00000
mean                7.857143                    7.875000  63000.00000
std                 1.345185                    1.642081  11501.55269
min                 6.000000                    6.000000  45000.00000
25%                 7.000000                    6.750000  57500.00000
50%                 8.000000                    7.500000  63500.00000
75%                 8.500000                    9.250000  70500.00000
max                10.000000                   10.000000  80000.00000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   experience                  6 non-null      object
 1   test_score(out of 10)       7 non-null      float64
 2   interview_score(out of 10)  8 non-null      int64
 3   salary($)                   8 non-null      int64
dtypes: float64(1), int64(2), object(1)
memory usage: 384.0+ bytes

In [9]:
df['experience'].isna().sum()  # to check the number of nan in experience column

2

In [10]:
#fill the nan values of experience to zero
#df.experience = df.experience.fillna('zero')
df['experience'] = df['experience'].fillna('Zero')

df['experience']

0      Zero
1      Zero
2      five
3       two
4     seven
5     three
6       ten
7    eleven
Name: experience, dtype: object

In [11]:
type(df['experience'])

pandas.core.series.Series

In [12]:
#fill the nan value of test score as a median value or mean value

df['test_score(out of 10)'].fillna(value=df['test_score(out of 10)'].median(), inplace=True)

In [13]:
# again check the dataset for nay null value
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   experience                  8 non-null      object
 1   test_score(out of 10)       8 non-null      float64
 2   interview_score(out of 10)  8 non-null      int64
 3   salary($)                   8 non-null      int64
dtypes: float64(1), int64(2), object(1)
memory usage: 384.0+ bytes

In [14]:
!pip install  word2number  # install word2number package

Collecting word2number
  Downloading word2number-1.1.zip (9.7 kB)
Building wheels for collected packages: word2number
  Building wheel for word2number (setup.py) ... done
  Created wheel for word2number: filename=word2number-1.1-py3-none-any.whl size=5582 sha256=6333bfae97770fe4c5558bccd5295a1d26fe76937c6426018fd0a63882de7863
  Stored in directory: /root/.cache/pip/wheels/4b/c3/77/a5f48aeb0d3efb7cd5ad61cbd3da30bbf9ffc9662b07c9f879
Successfully built word2number
Installing collected packages: word2number
Successfully installed word2number-1.1

In [15]:

# experience column have number in text , convert into numericals
from word2number import w2n

#res = w2n.word_to_num('one')
#res
#df.experience = df.experience.apply(w2n.word_to_num)       # can be done this way also

df['experience'] = df['experience'].apply(w2n.word_to_num)

In [16]:
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    8.0                           7      72000
7          11                    7.0                           8      80000

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   experience                  8 non-null      int64
 1   test_score(out of 10)       8 non-null      float64
 2   interview_score(out of 10)  8 non-null      int64
 3   salary($)                   8 non-null      int64
dtypes: float64(1), int64(3)
memory usage: 384.0 bytes

In [18]:
x = df.iloc[0:8 , 0:3]
x.shape

(8, 3)

In [19]:
x= df.drop('salary($)',axis =1)    # either way we can split the features and target
x.shape

(8, 3)

In [20]:
y= df['salary($)']
y.shape

(8,)

In [21]:
# split the data into training and test data
from sklearn.model_selection import train_test_split
xtrain , xtest , ytrain , ytest = train_test_split(x,y)

In [22]:
print(xtrain.shape)
print(xtest.shape)
print(ytrain.shape)
print(ytest.shape)

(6, 3)
(2, 3)
(6,)
(2,)

In [23]:
# lets build a model

In [24]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()

In [25]:
# fit the model

model.fit(xtrain , ytrain)

LinearRegression()

In [26]:
# tets the model
ypred = model.predict(xtest)

In [27]:
#calculate the accuracy using R2

from sklearn.metrics import r2_score
r2result = r2_score(ytest, ypred)
r2result

0.3814447081194211

In [28]:
# create a list to fetch the accuracy result
accuracy_list=[]
for i in range(1000):
  xtrain , xtest, ytrain , ytest = train_test_split(x,y,train_size=0.8 ,random_state=i)
  model =LinearRegression()
  model.fit(xtrain , ytrain)
  ypred = model.predict(xtest)
  r2result = r2_score(ytest, ypred)
  accuracy_list.append(r2result)

In [29]:
accuracy_list

[0.3814447081194211,
 0.8515192720986251,
 0.8159486689885806,
 0.924427136462572,
 0.17760298275080622,
 0.8515192720986248,
 0.8167827818183632,
 -17.688208905655845,
 0.9606461804676223,
 0.9566786526224457,
 0.3493545891913713,
 0.38144470811942055,
 -15.877716374972685,
 0.8159486689885809,
 0.06266896871484517,
 0.34935458919136975,
 0.27310355973040124,
 -8.694392415972386,
 -0.11107260610819525,
 0.8159486689885802,
 0.9244271364625727,
 0.8515192720986248,
 0.8854262054139517,
 0.17760298275080133,
 0.9244271364625731,
 0.9047826768488456,
 0.856365786429019,
 0.8515192720986253,
 0.3814447081194211,
 0.9566786526224456,
 0.8854262054139518,
 0.8159486689885805,
 0.8830011998552887,
 -2.183874957833533,
 0.9047826768488458,
 -17.68820890565591,
 0.17760298275080277,
 -17.68820890565591,
 0.8515192720986248,
 -9.575872458761951,
 0.9566786526224458,
 0.06266896871484462,
 0.9321989859471912,
 0.8563657864290184,
 -17.68820890565578,
 -17.688208905655884,
 0.8830011998552881,
 0.8967170402440576,
 -17.688208905655884,
 0.8854262054139519,
 -0.11107260610819569,
 0.27310355973040124,
 0.8967170402440581,
 0.7598139673064879,
 -15.877716374972685,
 0.17760298275080133,
 0.9566786526224459,
 0.8854262054139515,
 0.2731035597303979,
 0.6874057436617749,
 0.17760298275080444,
 0.8159486689885812,
 -15.877716374972685,
 0.06266896871484395,
 0.6874057436617749,
 -8.69439241597241,
 0.8167827818183624,
 0.9606461804676223,
 0.9321989859471912,
 -0.11107260610819214,
 0.9321989859471912,
 0.8830011998552881,
 0.17760298275080444,
 -9.57587245876199,
 0.17760298275080444,
 0.2731035597303987,
 -0.7994281339341944,
 -17.688208905655845,
 -8.694392415972422,
 0.8830011998552891,
 -3.2881576745143812,
 -17.688208905655884,
 0.8186907726707165,
 0.9566786526224458,
 0.8563657864290188,
 -2.1838749578335164,
 0.8967170402440581,
 -3.2881576745143803,
 -8.69439241597243,
 0.8167827818183615,
 0.8830011998552881,
 -8.694392415972422,
 -3.288157674514393,
 0.8515192720986251,
 0.932198985947191,
 0.9244271364625729,
 0.8186907726707161,
 0.17760298275080288,
 0.8186907726707161,
 0.38144470811942055,
 0.8159486689885812,
 0.6874057436617749,
 0.9566786526224458,
 0.7598139673064878,
 0.9606461804676223,
 0.38144470811942255,
 -9.575872458761951,
 0.17760298275080277,
 0.06266896871484395,
 0.27310355973039646,
 0.27310355973040124,
 0.9047826768488456,
 -2.183874957833533,
 0.8854262054139518,
 0.9321989859471912,
 0.8159486689885812,
 0.9606461804676222,
 -17.688208905655884,
 0.17760298275080444,
 0.9047826768488454,
 -9.575872458761971,
 0.8563657864290194,
 0.8854262054139517,
 -3.2881576745143812,
 0.8563657864290184,
 0.7598139673064876,
 0.9244271364625722,
 -9.57587245876194,
 -3.2881576745143803,
 -8.694392415972422,
 0.9606461804676223,
 0.9606461804676223,
 0.8167827818183615,
 -8.694392415972422,
 0.9566786526224458,
 0.27310355973040035,
 0.7598139673064878,
 0.8159486689885811,
 -8.69439241597243,
 0.381444708119423,
 0.34935458919136975,
 -0.11107260610819214,
 0.818690772670716,
 0.7598139673064876,
 0.8830011998552881,
 -3.2881576745143875,
 -2.183874957833533,
 0.8515192720986248,
 0.7598139673064876,
 0.8186907726707169,
 0.9244271364625725,
 0.9566786526224457,
 0.9566786526224458,
 0.38144470811942055,
 0.9606461804676223,
 -9.575872458761951,
 0.818690772670716,
 -2.1838749578335244,
 0.17760298275080622,
 -17.688208905655845,
 -15.877716374972813,
 0.6874057436617749,
 0.7598139673064876,
 0.9606461804676223,
 -8.694392415972422,
 -9.575872458761951,
 0.27310355973039646,
 -2.1838749578335244,
 0.9047826768488458,
 0.8186907726707169,
 -3.288157674514399,
 -0.7994281339341973,
 0.8186907726707167,
 0.8830011998552881,
 0.8967170402440581,
 -17.68820890565581,
 0.8967170402440581,
 0.6874057436617756,
 0.8515192720986251,
 0.9606461804676223,
 0.7598139673064876,
 0.7598139673064881,
 0.17760298275080444,
 0.8515192720986263,
 -17.68820890565591,
 0.856365786429018,
 -2.1838749578335164,
 0.9566786526224458,
 -0.11107260610819214,
 0.8967170402440581,
 0.9321989859471916,
 -17.688208905655852,
 -0.11107260610819525,
 -17.688208905655884,
 0.8186907726707167,
 0.7598139673064888,
 0.8830011998552881,
 0.9606461804676223,
 -8.694392415972422,
 0.924427136462572,
 -0.7994281339341958,
 0.3493545891913742,
 -17.688208905655916,
 -0.7994281339341931,
 0.856365786429019,
 0.9566786526224458,
 0.9566786526224458,
 -8.69439241597241,
 0.932198985947191,
 0.17760298275080444,
 -3.288157674514375,
 0.8854262054139518,
 0.9566786526224458,
 -17.688208905655944,
 0.856365786429018,
 0.9321989859471912,
 -2.183874957833533,
 -0.7994281339341944,
 0.27310355973040035,
 0.381444708119423,
 0.9566786526224458,
 0.8167827818183615,
 0.9566786526224459,
 0.17760298275080288,
 0.8563657864290184,
 0.9321989859471909,
 -15.877716374972785,
 0.9321989859471912,
 0.27310355973040124,
 0.8515192720986258,
 0.9321989859471914,
 0.06266896871484395,
 0.9047826768488454,
 0.6874057436617758,
 -2.1838749578335164,
 -9.575872458761951,
 0.9047826768488456,
 0.06266896871484462,
 0.8167827818183624,
 0.38144470811942055,
 0.818690772670716,
 0.9566786526224456,
 0.9244271364625718,
 0.7598139673064876,
 -15.877716374972685,
 0.8186907726707167,
 -9.575872458761914,
 0.3814447081194211,
 -0.11107260610819214,
 0.9244271364625718,
 0.17760298275080288,
 0.6874057436617756,
 0.7598139673064873,
 0.9606461804676224,
 -9.575872458761959,
 0.27310355973039957,
 -15.877716374972685,
 0.9047826768488456,
 0.9047826768488458,
 0.27310355973040035,
 -0.11107260610819214,
 -2.183874957833533,
 0.27310355973039935,
 0.8515192720986253,
 0.2731035597303971,
 0.8159486689885808,
 0.8563657864290188,
 0.8167827818183631,
 0.06266896871484395,
 0.8830011998552881,
 -15.877716374972685,
 0.3493545891913713,
 0.8159486689885805,
 -15.877716374972735,
 0.7598139673064873,
 -0.7994281339341931,
 0.9606461804676225,
 0.8830011998552881,
 -8.69439241597243,
 -2.18387495783352,
 -0.7994281339341958,
 0.8967170402440576,
 0.06266896871484462,
 0.9047826768488456,
 0.851519272098626,
 -9.575872458761951,
 0.3814447081194181,
 -3.288157674514393,
 0.17760298275080622,
 0.8167827818183616,
 0.8967170402440576,
 0.8186907726707165,
 0.9244271364625722,
 0.9566786526224458,
 -8.694392415972422,
 0.9321989859471912,
 -17.68820890565581,
 0.9321989859471912,
 -9.575872458761951,
 0.818690772670716,
 0.9047826768488458,
 -2.1838749578335164,
 -17.68820890565597,
 0.9244271364625725,
 -0.11107260610819214,
 0.9244271364625722,
 0.34935458919137274,
 0.9606461804676223,
 -15.877716374972735,
 0.6874057436617765,
 -17.68820890565591,
 0.34935458919137274,
 0.06266896871484462,
 -15.877716374972685,
 -2.183874957833533,
 0.8167827818183638,
 0.8967170402440581,
 -3.288157674514375,
 0.17760298275080288,
 0.8186907726707165,
 0.9606461804676223,
 -0.7994281339341944,
 0.3493545891913683,
 0.8854262054139518,
 0.8515192720986263,
 0.6874057436617765,
 0.856365786429018,
 -2.183874957833533,
 0.8167827818183632,
 -0.7994281339341944,
 -0.7994281339341931,
 -9.57587245876194,
 0.3814447081194211,
 -3.288157674514393,
 -0.11107260610819458,
 0.856365786429018,
 -17.688208905655845,
 -2.183874957833533,
 0.34935458919136975,
 0.34935458919136975,
 0.8167827818183637,
 0.8830011998552881,
 -3.2881576745143812,
 -0.7994281339342046,
 -0.7994281339341958,
 0.06266896871484462,
 0.38144470811942055,
 -0.7994281339341944,
 0.8830011998552887,
 0.9606461804676223,
 0.17760298275080288,
 -3.288157674514393,
 0.9566786526224458,
 0.8186907726707165,
 0.9606461804676223,
 0.8167827818183638,
 -17.68820890565591,
 -8.694392415972395,
 -0.7994281339342015,
 0.9321989859471911,
 0.8830011998552887,
 0.8515192720986251,
 0.8167827818183631,
 0.8515192720986255,
 0.9566786526224458,
 -2.1838749578335164,
 0.9047826768488458,
 0.9566786526224457,
 -15.877716374972685,
 0.8854262054139518,
 -15.877716374972685,
 -2.1838749578335164,
 0.8159486689885805,
 0.8167827818183615,
 0.8854262054139518,
 0.9244271364625718,
 0.8186907726707169,
 0.8830011998552887,
 -0.7994281339341931,
 0.9566786526224456,
 -3.288157674514393,
 0.9606461804676223,
 -2.183874957833533,
 -15.877716374972685,
 0.8515192720986251,
 -8.694392415972422,
 0.3493545891913713,
 0.9321989859471908,
 0.9244271364625722,
 0.9047826768488461,
 -2.183874957833533,
 0.8167827818183624,
 -17.68820890565578,
 0.8830011998552881,
 -17.688208905655944,
 0.8830011998552881,
 0.8967170402440581,
 0.9321989859471912,
 0.8167827818183615,
 0.6874057436617749,
 0.8167827818183631,
 0.856365786429018,
 0.9606461804676224,
 0.856365786429019,
 0.8167827818183631,
 0.9566786526224458,
 0.8830011998552881,
 0.9047826768488456,
 -2.183874957833533,
 0.8967170402440571,
 -9.57587245876199,
 -9.57587245876199,
 -3.2881576745143875,
 -8.694392415972422,
 0.9606461804676222,
 0.9244271364625725,
 0.6874057436617749,
 0.8167827818183631,
 0.2731035597303987,
 -0.7994281339341944,
 -15.877716374972657,
 0.818690772670717,
 0.8830011998552881,
 0.932198985947191,
 0.8830011998552881,
 0.8854262054139515,
 0.9566786526224459,
 -15.8777163749727,
 0.9244271364625722,
 0.06266896871484462,
 0.6874057436617756,
 -8.69439241597241,
 0.8967170402440581,
 -8.694392415972422,
 0.06266896871484395,
 -2.1838749578335164,
 0.06266896871484462,
 0.8167827818183632,
 0.9606461804676224,
 0.8167827818183615,
 0.7598139673064878,
 0.856365786429018,
 0.9606461804676223,
 0.17760298275079955,
 0.8967170402440581,
 -0.11107260610819258,
 0.8159486689885809,
 -0.7994281339341958,
 0.3493545891913683,
 0.8515192720986263,
 0.7598139673064876,
 0.34935458919137274,
 0.9566786526224456,
 0.8830011998552881,
 -15.877716374972685,
 0.8967170402440576,
 -15.877716374972685,
 0.9321989859471914,
 -0.7994281339341958,
 0.9244271364625725,
 -15.877716374972685,
 0.2731035597303987,
 0.8830011998552881,
 0.06266896871484395,
 0.7598139673064884,
 0.6874057436617756,
 0.8563657864290184,
 0.9566786526224459,
 0.6874057436617765,
 0.06266896871484462,
 0.8563657864290184,
 -15.877716374972685,
 -2.1838749578335164,
 -0.11107260610819458,
 0.06266896871484462,
 -0.11107260610819525,
 0.8967170402440585,
 0.8563657864290184,
 -8.69439241597243,
 0.818690772670716,
 -8.69439241597243,
 0.816782781818364,
 -8.69439241597244,
 0.06266896871484462,
 -15.877716374972685,
 -0.11107260610819214,
 0.06266896871484462,
 -17.688208905655884,
 0.6874057436617749,
 0.6874057436617756,
 0.8830011998552892,
 0.8854262054139518,
 0.8186907726707161,
 0.8167827818183623,
 0.9606461804676223,
 0.8186907726707169,
 -9.575872458761951,
 0.8563657864290184,
 -2.1838749578335164,
 0.6874057436617751,
 0.17760298275080288,
 0.27310355973039646,
 -17.688208905655884,
 -3.2881576745143875,
 -9.575872458761951,
 0.9606461804676223,
 -9.575872458761914,
 -0.7994281339341958,
 0.8515192720986248,
 0.06266896871484462,
 -17.68820890565591,
 0.8967170402440586,
 -0.11107260610818925,
 0.8967170402440581,
 0.856365786429018,
 0.9606461804676223,
 -3.288157674514393,
 -0.11107260610819214,
 0.6874057436617749,
 -2.183874957833533,
 -3.288157674514393,
 -9.57587245876199,
 0.8830011998552881,
 -9.575872458761909,
 0.8186907726707161,
 0.856365786429019,
 0.8186907726707167,
 0.8186907726707167,
 0.8854262054139519,
 -0.7994281339342015,
 0.856365786429018,
 0.932198985947191,
 0.816782781818364,
 0.8186907726707171,
 0.27310355973039646,
 0.8830011998552881,
 0.956678652622446,
 0.932198985947191,
 -3.288157674514393,
 -9.575872458761971,
 0.8159486689885804,
 -17.68820890565597,
 0.38144470811942255,
 0.9047826768488461,
 0.17760298275080288,
 0.818690772670716,
 0.06266896871484462,
 -9.575872458761909,
 0.9047826768488461,
 0.8854262054139518,
 -8.69439241597244,
 -8.69439241597243,
 0.8186907726707162,
 -3.2881576745143812,
 0.06266896871484462,
 0.856365786429019,
 -15.877716374972685,
 -0.11107260610819747,
 -2.1838749578335244,
 -15.877716374972685,
 -9.575872458761982,
 0.27310355973040124,
 0.9244271364625725,
 0.7598139673064884,
 -17.688208905655852,
 -2.1838749578335244,
 -0.7994281339341958,
 -17.688208905655884,
 0.8515192720986251,
 0.8167827818183632,
 0.34935458919137274,
 -8.694392415972422,
 0.3493545891913683,
 -0.11107260610819214,
 0.7598139673064878,
 -9.575872458761928,
 0.9606461804676223,
 0.8167827818183631,
 0.7598139673064878,
 0.9566786526224458,
 -0.7994281339342015,
 0.8186907726707169,
 0.6874057436617749,
 -17.688208905655845,
 0.7598139673064876,
 -17.688208905655884,
 -17.688208905655884,
 0.06266896871484395,
 0.8854262054139519,
 0.8563657864290184,
 -15.877716374972685,
 0.9566786526224457,
 -3.2881576745143812,
 0.8830011998552881,
 0.6874057436617749,
 0.8186907726707169,
 0.6874057436617765,
 0.17760298275080133,
 -0.11107260610819192,
 0.17760298275080288,
 -3.288157674514393,
 0.34935458919137274,
 0.8563657864290184,
 0.932198985947191,
 -0.7994281339341931,
 0.9321989859471913,
 0.8515192720986241,
 0.17760298275080133,
 0.38144470811942055,
 -2.183874957833533,
 0.8186907726707169,
 -3.2881576745143875,
 0.9606461804676223,
 0.815948668988581,
 0.9606461804676223,
 0.9566786526224457,
 0.7598139673064881,
 0.856365786429018,
 -0.7994281339341958,
 0.9047826768488454,
 0.9321989859471912,
 0.7598139673064881,
 0.8186907726707161,
 -9.575872458761928,
 0.38144470811942055,
 0.924427136462572,
 -9.575872458761971,
 0.9606461804676223,
 0.9321989859471916,
 0.8186907726707169,
 -0.7994281339341931,
 -0.7994281339341944,
 -8.69439241597243,
 0.06266896871484517,
 0.8830011998552881,
 0.8854262054139515,
 0.8967170402440581,
 0.17760298275080288,
 -0.7994281339341958,
 0.9047826768488461,
 0.38144470811942055,
 -3.2881576745143875,
 0.9321989859471912,
 0.9321989859471912,
 0.8186907726707169,
 -15.877716374972685,
 -17.68820890565591,
 -3.288157674514393,
 -9.57587245876194,
 -9.57587245876194,
 0.8167827818183607,
 0.06266896871484462,
 0.06266896871484395,
 0.7598139673064883,
 -0.7994281339341944,
 0.34935458919137563,
 -15.877716374972763,
 -0.11107260610819214,
 0.34935458919137274,
 0.8967170402440581,
 0.8854262054139518,
 0.06266896871484395,
 0.8854262054139516,
 0.9047826768488456,
 0.34935458919136975,
 0.8515192720986255,
 0.8563657864290184,
 -2.183874957833533,
 0.7598139673064876,
 0.924427136462572,
 -9.57587245876199,
 -15.877716374972685,
 -9.57587245876194,
 0.6874057436617764,
 -8.69439241597243,
 -8.69439241597243,
 0.8854262054139518,
 -0.11107260610819258,
 0.17760298275080288,
 0.17760298275080133,
 0.9244271364625725,
 0.9047826768488456,
 0.17760298275080133,
 -8.69439241597241,
 -2.183874957833533,
 -0.7994281339341944,
 -3.288157674514393,
 0.856365786429018,
 -15.877716374972685,
 -8.694392415972422,
 0.9606461804676223,
 0.9244271364625718,
 -8.69439241597241,
 0.856365786429018,
 0.8515192720986253,
 0.9047826768488463,
 -0.11107260610819258,
 0.9321989859471906,
 -8.694392415972422,
 0.34935458919136975,
 0.8167827818183638,
 0.34935458919137274,
 0.8167827818183631,
 -17.688208905655873,
 -0.7994281339341944,
 0.8186907726707167,
 -17.688208905655884,
 -17.68820890565578,
 0.06266896871484395,
 0.8830011998552881,
 0.7598139673064878,
 -0.11107260610819214,
 -3.2881576745143812,
 0.8830011998552887,
 0.3814447081194211,
 0.9321989859471913,
 -17.688208905655884,
 0.38144470811942255,
 0.8186907726707165,
 0.27310355973039957,
 0.6874057436617756,
 -8.69439241597243,
 0.8854262054139518,
 0.9047826768488456,
 0.27310355973040035,
 0.9606461804676223,
 -2.183874957833533,
 -9.575872458761982,
 -0.7994281339341931,
 0.6874057436617756,
 0.8830011998552881,
 0.856365786429019,
 0.3814447081194211,
 0.9606461804676225,
 0.177602982750798,
 0.38144470811942055,
 0.8186907726707167,
 0.8515192720986253,
 -3.2881576745143812,
 -0.7994281339341931,
 0.8563657864290193,
 -9.575872458761951,
 -0.7994281339341944,
 0.932198985947191,
 0.3814447081194211,
 -0.11107260610819525,
 0.9566786526224459,
 0.9047826768488458,
 -8.694392415972386,
 0.27310355973039935,
 0.06266896871484395,
 0.8563657864290184,
 0.818690772670716,
 0.8167827818183632,
 0.34935458919136975,
 -2.183874957833533,
 0.34935458919137274,
 0.7598139673064876,
 0.27310355973040035,
 0.856365786429019,
 0.9606461804676222,
 0.3493545891913713,
 0.27310355973040124,
 0.9047826768488456,
 0.856365786429019,
 0.9606461804676223,
 0.17760298275080133,
 0.9321989859471912,
 0.9047826768488456,
 0.6874057436617749,
 -15.877716374972657,
 0.8167827818183615,
 0.9321989859471912,
 0.9606461804676223,
 0.8967170402440585,
 0.8830011998552881,
 0.9606461804676223,
 0.6874057436617749,
 -0.7994281339342015,
 0.9244271364625718,
 -2.183874957833533,
 0.9566786526224458,
 0.9244271364625727,
 0.17760298275079955,
 0.856365786429018,
 -9.575872458761951,
 -3.288157674514405,
 0.8967170402440585,
 0.7598139673064876,
 0.17760298275080133,
 -9.575872458761951,
 0.9047826768488458,
 0.8854262054139517,
 0.9566786526224459,
 -2.1838749578335244,
 0.8854262054139516,
 0.7598139673064876,
 0.8515192720986255,
 0.9321989859471912,
 0.17760298275080444,
 -15.877716374972685,
 -9.575872458761951,
 0.8563657864290184,
 0.9047826768488456,
 -0.7994281339341944,
 0.8830011998552881,
 0.9244271364625729,
 0.9244271364625729,
 0.27310355973040035,
 -2.1838749578335164,
 -0.7994281339341915,
 0.27310355973039646,
 -0.11107260610819192,
 0.06266896871484462,
 0.8159486689885809,
 0.8854262054139513,
 0.8167827818183632,
 0.8854262054139518,
 0.8830011998552881,
 0.34935458919137563,
 0.6874057436617758,
 0.8967170402440581,
 0.9321989859471912,
 -15.877716374972685,
 0.9606461804676223,
 0.9244271364625729,
 -2.183874957833533,
 0.7598139673064873,
 0.8515192720986263,
 -8.69439241597243,
 0.6874057436617749,
 0.17760298275080133,
 0.3814447081194211,
 -15.877716374972685,
 0.9566786526224457,
 0.3814447081194211,
 -0.11107260610819214,
 0.38144470811942,
 0.7598139673064884,
 0.8186907726707167,
 0.06266896871484462,
 0.8186907726707167,
 0.818690772670717,
 -3.2881576745143875,
 0.8830011998552881,
 0.9047826768488454,
 -3.288157674514393,
 0.851519272098626,
 -9.575872458761921,
 0.6874057436617765,
 0.8854262054139521,
 -2.183874957833533,
 0.9606461804676223,
 0.9566786526224459,
 0.8854262054139518,
 0.8167827818183624,
 -15.877716374972657,
 -9.575872458761982,
 -2.183874957833533,
 -15.877716374972685,
 0.2731035597303987,
 0.8515192720986253,
 0.8167827818183631,
 -15.877716374972685,
 0.9047826768488456,
 -0.11107260610819214,
 0.9321989859471912,
 0.932198985947191,
 0.6874057436617755,
 0.3814447081194211,
 0.932198985947191,
 0.9321989859471906,
 0.8186907726707169,
 0.818690772670717,
 -15.877716374972685,
 0.8854262054139518,
 0.9606461804676223,
 -17.68820890565591,
 0.9244271364625727,
 0.8159486689885809,
 0.8854262054139521,
 -0.7994281339341944,
 -17.688208905655845,
 0.38144470811942055,
 0.8515192720986251,
 0.9606461804676223,
 0.17760298275080277,
 0.8186907726707167,
 -3.2881576745143875,
 -2.183874957833533,
 0.17760298275080277,
 -2.183874957833533,
 -2.1838749578335412,
 0.9321989859471909,
 0.9606461804676223,
 0.3814447081194211,
 0.8515192720986263,
 0.924427136462572,
 0.9606461804676223,
 0.9321989859471916,
 0.856365786429018,
 0.17760298275080288,
 -15.877716374972685,
 0.8854262054139518,
 0.8854262054139518,
 -9.575872458761951,
 0.9566786526224459,
 0.8854262054139511,
 0.8159486689885805,
 0.8967170402440581,
 0.8167827818183632,
 0.06266896871484395,
 0.8830011998552881,
 -9.575872458761951,
 0.06266896871484462,
 -8.694392415972422,
 0.8830011998552881,
 0.8159486689885812,
 0.9244271364625722,
 -3.288157674514393,
 0.9606461804676224,
 0.8167827818183623,
 0.17760298275080277,
 0.856365786429019,
 0.8186907726707169,
 -8.69439241597241,
 0.8854262054139518,
 0.17760298275080288,
 0.8967170402440585,
 0.17760298275079955,
 -8.694392415972422,
 0.7598139673064876,
 0.9321989859471914,
 0.8854262054139515,
 0.8563657864290188,
 0.8515192720986248,
 -0.11107260610819303,
 0.34935458919136686,
 0.8186907726707169,
 0.9244271364625725,
 -8.694392415972422,

In [30]:
np.max(accuracy_list)

0.9606461804676225

In [31]:
# to find the index of the max value
np.argmax(accuracy_list)

276

In [32]:
# the previous result shows the random value 276 has the max accuracy value , so create model with that value

xtrain , xtest, ytrain , ytest = train_test_split(x,y,train_size=0.8 ,random_state=276)
model =LinearRegression()
model.fit(xtrain , ytrain)
ypred = model.predict(xtest)
r2result = r2_score(ytest, ypred)
r2result

0.9606461804676225

In [33]:
# test the model with your own value   sample 1
model.predict([[2,9,6]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([54023.42770408])

In [34]:
# test the model with your own value   sample 2
model.predict([[12,10,10]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([90648.84841286])

In [35]:
# to save this model and test anyday anytime
# this model needs to be saved to a file
import joblib
joblib.dump(model , 'multilinear-salary.pkl')

['multilinear-salary.pkl']

In [36]:
# how to use the saved model later
# first load the model to your environment
mymodel = joblib.load('/content/multilinear-salary.pkl' )

In [37]:
mymodel.predict([[12,10,10]])  # test your model

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([90648.84841286])